body {
    --primary-color: hsl(32, 72%, 32%);

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #292929;
}

.wrapper {
    flex: 1;
}

#ovrd-footer {
    padding: 10px;
}

.button.is-primary {
    background-color: var(--primary-color);
}

.has-background-primary {
    background-color: var(--primary-color) !important;
}

.is-primary.input, .is-primary.textarea{
    border-color: var(--primary-color);
}